// Setting `direction` to `ltr` is required for displaying the keys correctly.
div
    align-items center
    direction ltr
    display flex
    flex-direction column
    gap 0.5rem
    justify-content center
    margin 0 auto
    width 100%