
@import "../variables"

div
    align-items center
    background-color dark-2
    border-radius border-radius
    display flex
    font-size 25px
    height 100%
    justify-content center
    transition-duration 1s
    width 100%

    p
        margin 0

.green
    background-color green

.yellow
    background-color yellow

.light
    background-color dark-3