
@import "../variables"

div
    background-color dark-transparent
    border-radius border-radius
    left 50%
    max-width 300px
    padding 20px
    position absolute
    text-align center
    top 50%
    transform translate(-50%, -50%)
    z-index 100

    *
        margin 0
        padding 0