rounded-button()
    align-items center
    background none
    border none
    border-radius 100%
    color inherit
    cursor pointer
    display flex
    height 60px
    justify-content center
    text-decoration none
    transition-duration 250ms
    width 60px

    &:hover
        background-color dark-2

    &:active
        opacity 0.5